PORT=3000
TRUST_PROXY=false
YTDLP_PATH=yt-dlp
FFMPEG_PATH=ffmpeg
TEMP_DIR=./tmp
ALLOWED_HOSTS=youtube.com,youtu.be,x.com,twitter.com
MAX_CONCURRENT_DOWNLOADS=1
MAX_DURATION_SECONDS=14400
MAX_VIDEO_HEIGHT=1080
MAX_FILE_SIZE_MB=8192
DOWNLOAD_TIMEOUT_MS=14400000
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=20
